<STYLE TYPE="text/css">

/* Compatible with IE and NS versions 4 and later */
/* "hover" pseudo-class is CSS2 and not compatible with NS4.x */
/* Developed according to W3C CSS1 and CSS2 specifications */

/* Version 2.1                             */
/* Originally Created: April 3, 2002       */
/* Last modified: April 3, 2003            */
/* By: Nate Butler, Cutler-Hammer Web Team */

/*

This style sheet contains common elements that are used throughout many of
our Web sites and Web-based applications in accordance with standards. It is
advisable to eliminate styles from this sheet that you will not use. 

*/
body {background-color: #FFFFFF;

/* These 2 lines cause trouble with the header display.  The right side won't flush completly to the right and
   display is incorrect when the page is not displayed in a full window.  
/*   margin-top: 0px;  */
/*   margin-left: 0px; */  

   }


p {color: #000000;
   font-family: Arial, serif, sans-serif, monospace;
   font-size: 12px;
      /* 12px is standard body text size */
      /* heading text sizes are 21, 17, and 13 pixels - see heading classes below */
   font-weight: normal;
      /* can also be bold */
   font-style: normal;
      /* can also be italic */
   text-decoration: none;
      /* can also be underline or line-through */
   }

td {color: #000000;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }


th {color: #312E24;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #C8BC99;
    cell-spacing: 1px;

   }


/* Used for Table headings to set the backgroud color in the cell behind the heading.
   To call set the <TD ID="th_bg_color">  */

.cellShade {background-color: #EEEEEE; }
#th_bg_color { background-color: #C8BC99; }
#tableTitle  {color: #000000;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 14px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   } 

ul {color: #000000;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

.crumbarrow {color: #666666;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

.crumbcurrent {color: #FF3300;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }
   
.crumb {color: #666666;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }   

/*

 There are three standard "heading" classes used in our sites and applications.
Make sure you have applied the same color to each; they must be consistent. 

*/

.heading1 {color: #71674A;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 21px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

.heading2 {color: #71674A;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 17px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

.heading3 {color: #71674A;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 13px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

/* 

The "textgray" class is commonly used in extended descriptions of form fields.
The gray color allows it to be read clearly, but the user understands that it is not
required reading. 

*/

.textgray {color: #666666;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

/* 

The "textnormal" class should match the "p" generic class defined above.
This class is used in an instance where the default "p" class is not appearing correctly. 

*/

.textnormal {color: #000000;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

/*

 The "textredbold" class is used for special emphasis cases, and is often associated
with required fields in forms. This should be used sparingly. 

*/

.textredbold {color: #FF0000;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

/*

The "textwhitebold" class is commonly used for table headings in which the white text
is imposed on a table cell color, usually a medium to dark shade, enabling it to stand out well. 

*/

.textwhitebold {color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

.tocactive {color: #FF3300;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

.tocsubactive {color: #FF3300;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

/* -------------------------------------------------------------------------------------------------*/

/* normal anchor tags    761C0A*/

a:link {color: #02276C;
   font-family: Arial, serif, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

a:visited {color: #02276C;
   font-family: Arial, serif, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   }

a:hover {color: #2C63CA;
   font-family: Arial, serif, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   }

a:active {color: #2C63CA;
   font-family: Arial, serif, sans-serif, monospace;
   font-size: 12px;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   }


/* anchor tags for "crumb" class (breadcrumb trail) */

a.crumb:link {color: #666666;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

a.crumb:visited {color: #666666;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

a.crumb:hover {color: #FF3300;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   }

a.crumb:active {color: #FF3300;
   font-family: Verdana, Arial, Helvetica, sans-serif, monospace;
   font-size: 10px;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   }


/* anchor tags for "toclink" class (table of contents, left column) */

a.toclink:link {color: #A08E5B;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

a.toclink:visited {color: #A08E5B;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   }

a.toclink:hover {color: #D2C08C;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   }

a.toclink:active {color: #D2C08C;
   font-family: Arial, Helvetica, sans-serif, monospace;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-decoration: underline;
   }


/* All anchor tag style modifiers must appear in link-visited-hover-active order to cascade correctly within the browser. */
/* The correct format for anchor tags with classes is a.classname:link and so on (i.e.: a.speciallink:hover) */


/* Styles for form navigations */
.navTitle {color: #4A4E71; font-family: Verdana, Arial, Helvetica, sans-serif, monospace; font-size: 18px; font-weight: bold; font-style: normal; text-decoration: none; }
.navArrow {color: #02276C; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none; }
.navCurrent {color: #8F4949; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none; }

a.navLink:link { color: #1D308D; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 13px; font-weight: bold; font-sytle: normal; text-decoration: underline; }
a.navLink:visited { color: #02276C; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 13px; font-weight: bold; font-sytle: normal; text-decoration: underline; }
a.navLink:hover { color: #2C63CA; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 13px; font-weight: bold; font-sytle: normal; text-decoration: underline; }
a.navLink:active { color: #2C63CA; font-family: Arial, Helvetica, sans-serif, monospace; font-size: 13px; font-weight: bold; font-sytle: normal; text-decoration: underline; }

blockquote, div.quote {
 border-left: 1px dashed #C8C8C8;
 border-right: 1px dashed #C8C8C8;
 border-top: 1px dashed #C8C8C8;
 border-bottom: 1px dashed #C8C8C8; 
 background-color: #FFFFFF;
 font-family: Arial,Georgia, sans-serif;
 font-size: 11px;
 line-height: 19px;
 margin: 0;
 padding: 5px 15px 5px 15px;
}

.moduleHeader{
	font-weight: bold; TEXT-ALIGN: center;
}
.moduleHeaderShaded {
	font-weight: bold; TEXT-ALIGN: center; background-color: #E0E0E0; 
}
.moduleHeaderBold {
	font-weight: bold;	
}
.moduleHeaderBoldShaded {
	font-weight: bold; background-color: #E0E0E0;	
}


</STYLE>
